@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root{
    height: 100%;
      /* fonts */
      --font-main: 'Poppins', sans-serif;
      --font-sub: 'Roboto', sans-serif; 

  /* font sizes */
  --body03-size: 14px;
  --font-size-17xl: 36px;
  --heading-01-size: 26px;
  --title-size: 40px;
  --font-size-2xs: 11px;
  --body-01-size: 16px;
  --font-size-lg: 18px;
  --heading-02-size: 20px;
  --font-size-smi: 13px;
  --font-size-13xl: 32px;

  

  /* Colors */
  --color-white: #fff;
  --color-slategray-100: #6c757d;
  --color-slategray-200: #687188;
  --color-black: #000;
  --primary: #f79c43;
  --color-crimson-100: #ff324d;
  --color-crimson-200: rgba(255, 50, 77, 0.2);
  --color-gainsboro: #ddd;
  --color-gray-100: #878787;
  --color-gray-200: #292b2c;
  --color-gray-300: #212529;
  --color-lightgray: #ced4da;
  --color-darkslategray: #333;
  --color-orange: #ff9f00;

  /* Paddings */
  --padding-smi: 13px;

  /* border radiuses */
  --br-31xl: 50px;
  --br-9xs: 4px;
  --br-59xl: 78px;
}

/* Tailwind Styles */


/* Cart, Heart , User Icon  */
.icon-nav{
  @apply   w-8 md:w-12 h-8 md:h-12 
  rounded-full 
  flex justify-center items-center 
  hover:bg-black/[0.05]
  cursor-pointer 
  relative;

}





/* Cart, Heart , User Icon END  */




