.icon{
    font-size: 3rem;
    vertical-align: middle;
    text-align: center;
}

.category{
    height: 100px;
    padding: 5px;
    background-color: #F79C43;

}

.card{
    padding-top: 6px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
/* cate.module.css */

.card {
    text-align: center;
  }
  
  .card .icon {
    /* Styles for the icon */
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .card .label {
    /* Styles for the label text */
    font-size: 16px;
    color: #333;
  }
  