

.thead th{
    font-family: 'DM Sans';
font-style: normal;
}

.name{
    color: gray;
    text-decoration: none;
}

.remove i{
    height: 30px;
	width: 30px;
	color: #292b2c;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	border-radius: 100%;
	font-size: 14px;
}

.remove :hover {
	background-color: #F79C43;
	color: #fff;
}

.btn{
    background-color: #F79C43;
}