.all_cata {
    height: 81%;
    background-color: #F6D18B;
}

.mt_5 {
    color: #000000;
}

.ml_5 {
    margin-left: 5px;
    font-size: 16px;
}

.bg_primary {
    background-color: #F79C43;
    height: 68px;
}

/* .text_bl {
    color: #000000;
} */

.text_sb {
    color: black;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}

.sidebar_size *{
    /* padding: px; */
    font-size: 16px;
}

.sidebar_icon {
    font-size: 22px;
    margin-bottom: 5px;
}

.ul_padding_0 {
    padding: 0;
}

.p_0 {
    padding: 10px;
}

.p_0 :not(:first-child) {
    margin-top: 10px;
}



.text_translate_0_10{
    transform: translate(0, -10px);
    display: flex;
    justify-content: space-between;

}

.text_translate_0_10 li {
    margin-right: 10px;
}

.sidebar_li {
    margin-top: 10px;
}

.icon_right {
    margin-top: -15px;
}

.dropdown_product :hover :last-child,
.dropdown_product :hover :last-child 

 {
    display: block;

}


/* .dropdown_product :hover :last-child{
    border
} */


