.container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .boxx .product_img{
    max-width: 100%;
    max-height: 100%;
  }
  .boxx .product_img img{
    width: 100%;
  height: 100%;
  object-fit: contain;
  }
  .upperClass {
    position: relative;
  }

  @media (max-width: 576px) {   
    .image {
      width: 75%;
    }
  }
  @media (max-width: 768px) {
    .image {
      width: 50%;
    }
  } .image {
   
    max-height: 250px;
    width: 100%;
  height: auto;
  }
  @media (max-width: 576px) {   
    .image {
      width: 75%;
    }
  }
  @media (max-width: 768px) {
    .image {
      width: 50%;
    }
  }
  
  .product_action_box {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .product_info {
    padding: 10px;
  }
  
  .product_title {
    margin-bottom: 10px;
  }
  
  .product_price {
    margin-top: 10px;
  }
  
  .on_sale {
    font-weight: bold;
  }
  
  .pr_desc {
    margin-top: 10px;
  }
  
  .desSize {
    height: 43px; /* Adjust the height as needed */
    overflow: hidden;
  }
  .desSize .overF  p{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .desSize .overF{
    max-height: fit-content;
  }
  .downClass .desSize p{
   
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
     
    text-align: left;
    
    }
    .downClass h6{
        text-decoration: none !important;
        color: #292B2C !important;
    }
  
    .downClass .product_info .product_title a {
      color: #292B2C !important;
      text-decoration: none;
      padding-top: 100000px;
    }