.tableProduct{
    font-family: 'DM Sans';
font-style: normal;
}

.thead th{
    font-family: 'DM Sans';
font-style: normal;
}

.name{
    color: gray;
    text-decoration: none;
}

.remove i{
    width: 11px;
height: 16px;
text-align: center;
}

.btn{
    background-color: #F79C43;
}

.errorMessage {
    color: #ff6d6d;
    padding: 0;
    margin: 0;
}