.dropdown {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  min-height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 5px;
}

.btn {
    padding: 3px;
    color: #000;
    cursor: pointer;
}

.btn:hover {
    background-color: #dadada;
}